.intro, 
.right-side {
	text-align: center;
	box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
	font-family: 'Roboto Slab', serif;
	font-style: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

img {
	max-width: 100%;
	max-height: auto;
}

h1 {
	font-size: 60px;
}
.about-me {
	background-color: teal;
}

.social-buttons li {
	display: inline;
}

.social-buttons li a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 10px;
	vertical-align: middle;
}

.github {
	background: url(../img/github.png) left top no-repeat;
}

.twitter {
	background: url(../img/twitter.png) left top no-repeat;
}

.linkedin {
	background: url(../img/linkedin.png);
}

.tumblr {
	background: url(../img/tumblr.png);
}

.email {
	background: url(../img/email.png);
}

.social-buttons li a:hover {
	background-position: left -34px;
}

