/*----GRID OF FOUR------*/

.span_4_of_4 {
	width: 100%; 
}

.span_3_of_4 {
	width: 74.6%; 
}

.span_2_of_4 {
	width: 49.2%; 
}

.span_1_of_4 {
	width: 23.8%; 
}


/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.span_4_of_4 {
		width: 100%; 
	}
	.span_3_of_4 {
		width: 100%; 
	}
	.span_2_of_4 {
		width: 100%; 
	}
	.span_1_of_4 {
		width: 100%; 
	}
}

.intro, 
.right-side {
	background-color: gray;
	color: black;
	text-align: center;
	box-shadow: inset 0 0 7px 4px rgba(255,255,255,.5);
}

img {
	max-width: 100%;
	max-height: auto;
}

.blue {
	background-color: teal;
}

.social-buttons li {
	display: inline;
}

.social-buttons li a {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: 10px;
	vertical-align: middle;
}

.github {
	background: url(../img/github.png) left top no-repeat;
}

.twitter {
	background: url(../img/twitter.png) left top no-repeat;
}

.linkedin {
	background: url(../img/linkedin.png);
}

.tumblr {
	background: url(../img/tumblr.png);
}

.email {
	background: url(../img/email.png);
}

.social-buttons li a:hover {
	background-position: left -34px;
}